. {
  font-family: Arial;
}

body {
  background: black

}

/* Header */

.navtitle {
  text-align: center;
  color: black;
  margin: 100px 50px;
  font-size: 5em;
  background-color: white;
  font-family: 'Slabo 27px', serif;
  height: 100px;
  font-weight: bold;
  background-image: linear-gradient(rgba(28, 95, 94, 0.1), rgba(28, 95, 94, 0.9)), url("../src/components/img/attachments/Lumbini 26.jpg");
  background-position: top;
  background-size: cover;
}

.top {
  padding: 10px;
  display: block;
  margin: 30px auto;
  font-size: 1em;
  opacity: 0;
  font-weight: bold;
  border: 3px solid white;
  color: white;
  border-radius: 80px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 100;
  background: black;
}

.top:hover {
  background-color: #35CDD1;
  color: #C4EFDA;
  opacity: .5;
}

 .navlinks {
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  line-height: 2.4em;
  padding: 1px;
  opacity: 1;
  z-index: 100;
  color: black;
  width: 100%;
  background-image: linear-gradient(#e8f2ed, #8ac8e2)
}

.navlinks a, .navlinks a:visited {
  display: inline-block;
  color: #262c2d;
  text-align: center;
  background: none;
  padding: 0 20px;
  margin: 0;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold
}

.navlinks a:hover {
  background: none;
  color: #35CDD1;
}

.mobile-navlinks, .hamburger {
  display: none;
  background-image: linear-gradient(#e8f2ed, #8ac8e2)

}

.top:visited {
  color: #35CDD1
}

/* footer */
.socialmedia {
  width: 100%;
  margin: 0 auto 10px auto;
  text-align: center;
  z-index: 50
}

.socialmedia a {
  padding: 10px;
  font-size: 30px;
  color: #35CDD1;
}

.socialmedia i:hover {
  color: #C4EFDA
}

i {
  color: #35CDD1;
}

/* contact page */

.contactcontainer {
  text-align: center;
  width: 50%;
  z-index: 1;
  margin: 150px auto 100px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Bitter', serif;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  background: black;
}

.formcaption {
  display: inline-block;
  margin: 10px auto;
  font-size: 1.1em;
  font-weight: bold;
}

label {
  font-size: 0.8em;
}

input {
  background: white;
  border: none;
}

textarea {
  display: block;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  background: white;
  color: black;
  font-size: 1.1em
}

.input-row-2 {
  margin-top: 15px
}

button#submit {
  font-size: 23px;
  font-family: 'Monoton', serif;
  color: black;
  border: none;
  border-radius: 10px;
  margin: 10px auto
}

button#submit:hover {
  color: #2ec4f2
}

form {
  z-index: 5
}

/*bio page */

.profile-img {
  height: 300px;
  width: 400px;
  margin: 0 auto;
  background-image: url("../src/components/img/attachments/Elyse Jennings_IMG_0445.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px
}



@media only screen and (max-width: 600px) {
  .navtitle {
    padding: 20px;
    font-size: 40px;
  }

  .navlinks {
    display: none
  }

  .mobile-navlinks {
    display: block;
    border: 3px solid black;
    background: white
  }

  .mobile-navlinks a, .mobile-navlinks a:visited {
    color: black;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    font-size: 25px;
  }

  button.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 5px 5px 5px 5px;
    margin: 20px;
    border: 1px solid black;
    line-height: 2.5em;
    font-family: monospace;
    font-size: 20px;
    padding: 1px 13px;
    display: block;
    color: black;
    z-index: 100;
    background: white;
  }

  button.hamburger:hover {
    background: black;
    color: white
  }

  .cross {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px
  }

  i {
    color: white
  }

  .gallerylink, .homelink, .biolink, .contactlink, .researchlink {
    color: black;
    background: white
  }

}
